* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

/*
.navbar {
    background-color: rgb(42, 6, 6);
    color: white;

}

.navlink {
    list-style: none;
    display: inline;
    font-size: 2em;
}

.logo {
    color: yellow;
    font-weight: 400;
    font-size: 6em;
}
*/



.footer {
    width: 100vw;
    display: block;
    overflow: hidden;
    padding: 70px 0;
    box-sizing: border-box;
    background-color: black;
    color: white;
}

.inner-footer {
    display: block;
    margin: 0 auto;
    width: 1100px;
    height: 100%;
}

.inner-footer .logo-container {
    width: 35%;
    float: left;
    height: 100%;
    display: block;
}

.inner-footer .logo-container img {
    width: 50px;
    height: auto;
}
.inner-footer .footer-third {
    width: calc(21.6666666667% - 20px);
    margin-right: 10px;
    float: left;
    height: 100%;
}

.inner-footer .footer-third:last-child {
    margin-right: 0;
}

.inner-footer .footer-third h1 { 
    font-family: 'arial';
    font-size: 22px;
    color: white;
    display: block;
    width: 100%;
    margin-bottom: 20px;
}

.inner-footer .footer-third a { 
    font-family: 'arial';
    font-size: 18px;
    padding: 5px;
    color: white;
    display: block;
    font-weight: 200;
    width: 100%;
    padding-bottom: 5px;
}

.inner-footer .footer-third li {
    display: inline-block;
    padding: 0 5px;
    font-size: 20px;
}

.inner-footer .footer-third span {
    color: white;
    font-family: 'arial';
    font-size: 16px;
    font-weight: 200;
    display: block;
    width: 100%;
    padding-top: 20px;
}
/* Having serious issues with descendent selectors. What exactly is my problem? It will not select a tags or image tags, but will select the h1 tag.*/

@media(max-width: 450px) {
    .footer .inner-footer {
        width: 90%;
    }

    .inner-footer .logo-container,
    .inner-footer .footer-third {
        width: 100%;
        margin-bottom: 30px;
    }
    
}